.taskForm {
    width: 80%;
    height: 80vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.taskForm__description {
    resize: vertical;
}

.taskForm__label,
.taskForm__input,
.taskForm__description {
    font-size: 24px;
}