/* layout */
.taskList {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'title title state btns' 'description description state btns';
}

.taskList__title {
    grid-area: title;
}

.taskList__description {
    grid-area: description;
}

.taskList__state {
    color: black;
    grid-area: state;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*component*/
.state-waiting {
    color: red;
}

.state-in-progress {
    color: yellow;
}

.state-completed {
    color: green;
}