/* layout */
.taskList{
    border: 3px double #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'title title state' 'description description state';
}

.taskList__title{
    grid-area: title;
}

.taskList__description{
    grid-area: description;
}

.taskList__state{
    color: black;
    grid-area: state;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*component*/
.state-waiting{
    background-color: red;
}

.state-in-progress{
    background-color: yellow;
}

.state-completed{
    background-color: green;
}